.home ,.contect,.back{
   background-image: url("./images/backimage.jfif");
    background-size: cover;
   
    }

nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:70px;
    box-sizing: border-box;
    background-image:url("./images/navbar.jpeg" );
    
}
nav ul{
    list-style:none;
    float:right;
    margin:0;
    padding:0;
    display:flex;
}
nav ul li a{
    line-height:100px;
    color:red;
    padding:5px 10px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
nav ul li a:hover{
    color:blue;
    background-color: goldenrod;

}
.welcome{
    color:white;
    text-align:center;
    margin-top: 310px;
}
.head{
    font-family:'Courier New', Courier, monospace;
    margin-top: 10%;
    text-align: center;
    color:rgb(43, 226, 52)
}
/* .back{
    background-image: url("./images/backimage.jfif");
    background-size:cover;
}  */
.details{
    
    font-size: 25px;
    text-align: center;
    color:aliceblue;
    margin-left: 300px;
    margin-right: 300px;
    height:100%;
   line-height:30px;
   padding:10px 20px;
}
#title{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 10%;
}
.sized{
    width:30px;
    height:30px;
    margin-top: 18px;
}
.title{
    color:chartreuse;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 10%;
}
.detail{
    display:grid;
    grid-template-columns: auto auto;
    justify-content: center;
    column-gap: 15px;
    border:solid 2px aliceblue;
    margin:0% 35%;

}
.link a{
    text-decoration:none;
    color:aliceblue;
}
/* .contect{
    
    background-image: url("./images/backimage.jfif");
    background-size:cover

} */
h3{
    color:aliceblue;
}
.hd{
    color:aliceblue;
    text-align: center;
    margin-top: 100px;
}
.grid{
    margin-top:10px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 25px;
    row-gap: 25px;
    width:1000px;
    height:1000px;
    justify-content: center;
    margin-left:17%;
}
.imgs{
    height:300px;
    width:300px;
}

@media screen and (max-width: 950px)
{
    .details{    
    margin-left: 100px;
    margin-right: 100px;
    }
}
@media screen and (max-width: 550px){
    nav ul li a{
        /*line-height:100px;*/
        color:red;
        padding:2px 5px;
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
    }
    .head{
        margin-top: 14%
    }
    
}
@media screen and (max-width: 980px)
{
.detail{    
    margin:0% 15%;
}
.title{
    margin-top: 14%;
}

}


@media screen and (max-width:1180px){
    .imgs{
        height:150px;
        width:150px;
    }
    .grid{
        margin-top:10px;
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 15px;
        row-gap: 15px;
        width:500px;
        height:500px;
        justify-content: center;
        margin-left:17%;
    }
}

@media screen and (max-width:650px){
    .imgs{
        height:100px;
        width:100px;
    }
    .grid{
        margin-top:10px;
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 10px;
        row-gap: 10px;
        width:400px;
        height:400px;
        justify-content: center;
        margin-left:10%;
    }
}
